table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    cursor: pointer;
    padding: 2px;
}

.bg-primary {
    background-color: #337ab7;
}